*{
    box-sizing: border-box;
}
body {
    margin: 0%;
    padding: 0%;
    

}


#nav-container{
    background-color: #272525;
    opacity: 0.8;
    height: 100px;
    box-shadow: 5px 3px 10px gray;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
 
    

    
}

.nav-elements {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.nav-elements form input
{
    width: 600px;
    outline: none;
    height: 50px;
    border: none;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.nav-elements form button
{

    outline: none;
    height: 50px;
    border: none;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}
.nav-elements form button:hover {
    background-color: #f8f6f6;
}


#main-container { 
   padding: 25px;
    background-color: #000;
    color: #fff;
}


#footer {
    background-color: #000;
    text-align: center;
    color: #FFF;
    padding: 20px;
}

#social-container ul,
#footer-links-container ul {
    list-style-type: none;
    padding: 0;
}

#social-container li,
#footer-links-container li {
    display: inline-block;
    margin: 0 20px;
}

#social-container li {
    height: 45px;
    width: 40px;
    border-radius: 100%;
    transition: .5s;
    line-height: 3;
}

#social-container li:hover {
    background-color: #000;
}



#social-container a,
#footer-links-container a {
    color: #FFF;
    transition: .5s;
}

#social-container li i {
    font-size: 25px;
}

#footer-links-container {

    margin: 30px 0;
}



.form-auth-register{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 10%;
 
}

.control-register{
   min-width: 500px;

}


.control-register div button{
    width: 500px;
    color: #FFF;
}
.editprofile{
 display: flex;
 flex-direction: column;
align-items: center;
}

.editprofile h1{
 padding: 25px;
}
.editprofile div input,textarea{
    width: 500px;
    padding: 5px;
    margin-bottom: 5px;
}

.file{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.file img{
    background-size: cover;
    object-fit: cover;
    width: 250px;
    border-radius: 100%;
}

.newmovie {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.newmovie h4 {
    color: wheat;
}

.newmovie form button {
    margin-top: 5px;
    width: 100%;
}
.myfiles{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    
}
.card-myfiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;

}
.card-myfiles div {
    margin: 10px;
}

/* index home*/

.index_list ul {
    list-style: none;
    padding: 100px;
}
.index_list ul li h1 {
   
    border-bottom: 2px solid white;
    width:25%;
    margin-bottom: 25px;
    padding: 5px;
}

.movie_card
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 25px;
}
.movie_card > div
{
    margin: 5px;
}
.latestmovie{
    display: flex;
    flex-direction: column;
}
.latestmovie a {
    text-decoration: none;
    margin-bottom: 15px;
    
}

.moviereview 
{
    padding-top: 50px;
    
}
#reviews-container
{
   background-color: #ffffff3a;
   padding: 50px;
   margin-top: 25px;
   border-radius: 5px;
   

}
.profile-container
{
    background-color: rgb(116, 116, 112);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 1px 20px 50px white;
}
.review div div img {
    border-radius: 50px;
}

.profiledata
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border-bottom: 2px solid white;
    margin-bottom: 25px;
}
.profiledata img {
    border-radius: 50%;
    margin-bottom: 25px;
}


.star {
    color:#f5dd42;
}

.movietrailer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-elements
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.btn-comment{
    display: flex;
    align-items: center;
}

.btn-comment a {
    margin: 5px;
}

@media screen and (max-width:800px) {

    #nav-container {
        height: 300px;
    }

    .nav-elements form input {
        width: 300px;
    }

    .newmovie {
        font-size: 18px;
        padding: 5px;
    }
    .newmovie form , .newmovie form div img {
        width: 100%;
    }
 
    .editprofile div input,textarea {
        width: 300px;
     
    }

    .index_list ul {
        padding: 0px;
    }
    .index_list ul li h1 {
       
        width:100%;
     
    }

    .movietrailer {
        flex-direction: column;
    }


    .movie-container,.movie-container iframe , .movietrailer div img {
        width: 100%;
    }
    
   
}